@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* // background: #09090B 240 10% 4%
    // surface1: 240 8% 5%
    // surface2: 240 7% 5%
    // surface3: 240 6% 6%
    // surface4: 240 6% 7%
    // foreground-strong: 0 0% 93%
    // foreground: 215 9% 67%
    // foreground-muted: 215 15% 52%
    // primary:  */

    --shadcn-background: 0 0% 100%;
    --shadcn-foreground: 240 10% 3.9%;

    --shadcn-card: 0 0% 100%;
    --shadcn-card-foreground: 240 10% 3.9%;

    --shadcn-popover: 0 0% 100%;
    --shadcn-popover-foreground: 240 10% 3.9%;

    /* --shadcn-primary: 240 5.9% 10%; */
    --shadcn-primary: 335 72% 50%;
    --shadcn-primary-foreground: 0 0% 98%;

    --shadcn-secondary: 240 4.8% 95.9%;
    --shadcn-secondary-foreground: 240 5.9% 10%;

    --shadcn-muted: 240 4.8% 95.9%;
    --shadcn-muted-foreground: 240 3.8% 46.1%;

    --shadcn-accent: 240 4.8% 95.9%;
    --shadcn-accent-foreground: 240 5.9% 10%;

    --shadcn-destructive: 0 84.2% 60.2%;
    --shadcn-destructive-foreground: 0 0% 98%;

    --shadcn-border: 240 5.9% 90%;
    --shadcn-input: 240 5.9% 90%;
    --shadcn-ring: 240 10% 3.9%;

    --shadcn-radius: 0.5rem;
  }

  .dark {
    /* --shadcn-background: 240 10% 3.9%; */
    --shadcn-background: 240 10% 4%;
    --shadcn-foreground: 210 10% 74%;
    --shadcn-foreground-strong: 0 0% 93%;
    --shadcn-foreground-secondary: 215 9% 64%;
    --shadcn-foreground-muted: 223 6% 53%;

    --shadcn-card: 240 10% 3.9%;
    --shadcn-card-foreground: 0 0% 98%;

    --shadcn-popover: 240 10% 3.9%;
    --shadcn-popover-foreground: 0 0% 98%;

    /* --shadcn-primary: 0 0% 98%; */
    --shadcn-primary: 0 0% 98%;
    --shadcn-primary-foreground: 240 5.9% 10%;

    --shadcn-secondary: 240 3.7% 15.9%;
    --shadcn-secondary-foreground: 0 0% 98%;

    --shadcn-muted: 240 3.7% 15.9%;
    --shadcn-muted-foreground: 240 5% 64.9%;

    --shadcn-accent: 240 3.7% 15.9%;
    --shadcn-accent-foreground: 0 0% 98%;

    --shadcn-destructive: 0 62.8% 30.6%;
    --shadcn-destructive-foreground: 0 0% 98%;

    --shadcn-border: 240 3.7% 15.9%;
    --shadcn-input: 240 3.7% 15.9%;
    --shadcn-ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

[role="dialog"]:focus-visible {
  outline: none;
}